@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Bitter', serif;
    background-color: #f3f1f1;
}
.header {
    width: 100%;
    height: 100vh;
}

.nav {
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
    background-color: #000;
}

.nav.active {
    background: #fff;
    padding: 15px;
}

.nav.active .logo,
.nav.active a {
    color: #000;
}

.nav.active a:hover {
    background: #000;
    color: #fff;
}

.logo {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}

.lo {
    width: 70px;
}

.menu {
}

.menu li {
    list-style: none;
    margin: 10px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
  }
  .pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }

.formulario{
  text-align: center;
}
.titulo {
  text-align: center;
    font-family: verdana;
    font-size: 50px;
    padding-top: 10rem;
    padding-bottom: 2.8rem;
    color: white;
    text-shadow: 3px 0px 0px black,
        0px 3px 0px black,
        -3px 0px 0px black,
        0px -3px 0px black;
}
.centro{
  text-align: center;
}
.center{
  display: grid;
  justify-content: center;
  align-items: center;
}
.ima{
  width: 350px;
  justify-content: center;
}
.suo{
  text-align: center;
}
.center {
  display: grid;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 830px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }

}
@media screen and (max-width: 830px) {
 
  .titulo {
    text-align: center;
      font-family: verdana;
      font-size: 50px;
      padding-bottom: 3rem;
      padding-top: 18.6rem;
      color: white;
      text-shadow: 3px 0px 0px black,
          0px 3px 0px black,
          -3px 0px 0px black,
          0px -3px 0px black;
  }
  .foto{
    width: 100%;
  }
}
@media screen and (min-width: 830px) {

  .nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
  }
  
  .nav.active {
    background: #fff;
    padding: 15px;
  }
  
  .nav.active .logo,
  .nav.active a {
    color: #000;
  }
  
  .nav.active a:hover {
    background: #000;
    color: #fff;
  }
  
  .logo {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
  }
  
  .menu {
    display: flex;
  }
  .menu li {
    list-style: none;
    margin: 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
  }

  .menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
  
    
}}